h1 {
  text-align: center;
  font-size: x-large;
}

li {
    padding: 5px;
    margin: 5px;
    background: #5BF3E7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  #left {
    display: block;
    width: 48%;
    text-align: center;

    float: left;
  }

  #right {
    display: block;
    width: 48%;
    float: right;
    text-align: center;

  }

  #add {
    clear: both;
    text-align: center;
  }