<li>
	<img src="https://img.icons8.com/ios-glyphs/30/000000/hamburger.png"/>
	
	<br>
	{{burger_name}}
<br><br>

	<button  class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}Ready to Devour!!{{/if}}
	</button> 
</li>

